// CSS for Choropleth Map
.land0
  fill #999999
  stroke #666666
  stroke-width 1px

.land1
  fill #858585
  stroke #666666
  stroke-width 1px

.land2
  fill #707070
  stroke #666666
  stroke-width 1px

.land3
  fill #5C5C5C
  stroke #666666
  stroke-width 1px

.land4
  fill #474747
  stroke #666666
  stroke-width 1px

.land5
  fill #3D3D3D
  stroke #666666
  stroke-width 1px

.land6
  fill #333333
  stroke #666666
  stroke-width 1px

.land7
  fill #252525
  stroke #666666
  stroke-width 1px

.land8
  fill #1F1F1F
  stroke #666666
  stroke-width 1px

.landN
  fill #EBEBEB
  stroke #666666
  stroke-width 1px


.land0.selected
  fill #B1C5FB
  stroke #666666
  stroke-width 1px

.land1.selected
  fill #8BA8F9
  stroke #666666
  stroke-width 1px

.land2.selected
  fill #648BF7
  stroke #666666
  stroke-width 1px

.land3.selected
  fill #3D6EF5
  stroke #666666
  stroke-width 1px

.land4.selected
  fill #1651F3
  stroke #666666
  stroke-width 1px

.land5.selected
  fill #0B41D5
  stroke #666666
  stroke-width 1px

.land6.selected
  fill #0935AE
  stroke #666666
  stroke-width 1px

.land7.selected
  fill #072988
  stroke #666666
  stroke-width 1px

.land8.selected
  fill #051E61
  stroke #666666
  stroke-width 1px

.landN.selected
  fill #EBEBEB
  stroke #666666
  stroke-width 1px


.boundary
  fill none
  stroke #666666
  stroke-width 0.5px
